$color-theme-bg: #231540;
$color-theme-main: #D92B6B;
$color-theme-secondery: #4ABFD9;
$color-theme-third: #F26DB6;
$color-theme-fourth: #382B8C;

// /* Define color theme variables */
$color-theme-main: #E9F1FA;
$color-theme-secondary: #4ABFD9;
$color-theme-third: #F26DB6;
$color-theme-fifth: #231540;
$white: (#FFFFFFFF);
$light-grey: #c0cbd0;
$blue: (#E9F1FA);
$ultra-blue: (#00ABE4);