/* Define color theme variables */
:root {
    --color-theme-main: #D92B6B;
    --color-theme-secondary: #4ABFD9;
    --color-theme-third: #F26DB6;
    --color-theme-fourth: #382B8C;
    --color-theme-fifth: #231540;
}

/* Apply gradient background to HTML */
html {
    background-size: 400% 400%;
    height: 100vh;
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

/* Apply box-sizing and margin bottom to all elements */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-bottom: 6px;
}

/* Define gradient animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Apply styles to body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-theme-fifth);
    color: var(--color-theme-fifth);
    max-width: 33rem;
    max-height: 33rem;
    padding: 1.4rem;
    margin: 30vh auto;
    border-radius: 0.5rem;
    box-shadow: 0 15px 30px 15px #000000af;
}

/* Apply styles to the form container */
.new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 35rem;
    margin: 0 auto;
    padding: 1.4rem;
    width: auto;
}

/* Apply styles to form container */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
}

/* Apply styles to form row */
.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0 0 2vh;
    width: auto;
}

/* Apply styles to form row label */
.form-row label {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 17vh 2vh;
}

/* Apply padding to input elements within new item form */
.new-item-form input {
    padding: 0 2vh 2vh;
}

/* Apply styles to buttons */
.btn {
    background: var(--color-theme-secondary);
    border: 1px solid #6c00a7;
    color: var(--color-theme-fifth);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #000;
    cursor: pointer;
    outline: none;
}

/* Apply styles to buttons on hover and focus */
.btn:hover,
.btn:focus-visible {
    background: #000;
}

/* Apply styles to delete button */
.btn.btn-danger {
    margin-top: 7px;
    background: hsl(177, 100%, 63%);
    border: 1px solid hsl(177, 73%, 25%);
    color: var(--color-theme-fifth);
}

/* Apply styles to delete button on hover and focus */
.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
}

/* Apply styles to input elements within new item form */
.new-item-form input {
    outline: none;
    border: 1px solid var(--color-theme-fifth);
    background: var(--color-theme-third);
    border-radius: 0.25em;
    box-shadow: 0 0 4px 1px #000;
    color: var(--color-theme-fifth);
}

/* Apply styles to input elements within new item form on focus */
.new-item-form input:focus {
    border: 1px solid hsl(200, 100%, 70%);
}

/* Apply styles to header */
.header {
    font-size: 1.5rem;
    margin: 5px 30px 5px;
}

/* Apply styles to list */
.list {
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* Apply styles to list items */
.list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* Apply styles to label within list items */
.list li label {
    display: flex;
    gap: 0.65rem;
    cursor: pointer;
    align-items: center;
}

/* Apply styles to checked checkboxes within list items */
.list li input[type="checkbox"]:checked + label {
    text-decoration: line-through 3px red;
}

/* Apply styles to label before pseudo-element on hover */
.list li label:hover::before {
    background: hsl(200, 100%, 80%);
}

/* Apply styles to checked checkboxes label before pseudo-element */
.list li input[type="checkbox"]:checked + label::before {
    content: "✔";
    background: hsl(200, 100%, 40%);
    text-decoration: none;
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
}

/* Apply styles to checked checkboxes label before pseudo-element on hover */
.list li input[type="checkbox"]:checked + label:hover::before {
    background: hsl(200, 100%, 30%);
}

/* Apply styles to label within list items when input is focused */
.list li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
}

/* Apply background color to root element */
#root {
    background: var(--color-theme-fourth);
}

/* Apply background color to form name */
#frm-name {
    background: var(--color-theme-fourth);
}

/* Apply background color to form row */
.form-row {
    background: var(--color-theme-fourth);
}

/* Apply background color and text color to form container */
.form-container {
    background: var(--color-theme-fourth);
    color: var(--color-theme-third);
}

/* Apply background color to new item form */
.new-item-form {
    background: var(--color-theme-fourth);
}

/* Apply background color to header */
.header {
    background: var(--color-theme-fourth);
}

/* Apply background color to list */
.list {
    background: var(--color-theme-fourth);
}

/* Apply background color to paragraphs within unordered lists */
ul p {
    background: var(--color-theme-fourth);
}